{{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle}}
          {{paper-icon icon="menu" size="lg"}}
        {{/paper-sidenav-toggle}}

        <h2>Klassen</h2>

        {{paper-input label="Suche" value=filterString}}
      </div>
{{/paper-toolbar}}

{{log model}}

{{#paper-content classNames="md-whiteframe-z1"}}
    {{#paper-list}}
      {{#each model as |item|}}
      {{#if item.visible}}
        {{#link-to 'timetable' 'class' item.id class="no-style"}}
          {{#paper-item}}
              <h3>{{item.name}}</h3>
          {{/paper-item}}
          {{paper-divider}}
          {{/link-to}}
        {{/if}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}
