
{{#if content}}
<div class="table-responsive">
    <table class="table table-bordered table-condensed" style="vertical-align:bottom;">
        <thead>
        <th width="50px">#</th>
        <th>Mo</th>
        <th>Di</th>
        <th>Mi</th>
        <th>Do</th>
        <th>Fr</th>
        </thead>
        <tbody>

        {{#each row in filteredList}}
            <tr>
                {{#each item in row}}
                    {{#if item}}
                        <td {{bind-attr class="item.red:warning"}}>
                            {{#if item.isHour}}
                                {{lesson-time item.content}}
                            {{else}}
                                {{{item.content}}}
                            {{/if}}
                        </td>
                    {{else}}
                        <td>
                            <br/><br/><br/>
                        </td>
                    {{/if}}
                {{/each}}
            </tr>

        {{/each}}
        </tbody>
    </table>
</div>
{{else}}
    <div class="alert alert-info">Keine Stunden für KW: {{weeks.selected}} eigetragen.</div>
{{/if}}



