<div class="btn-group btn-group-justified">
    {{#each week in weeks.content}}
        {{#link-to 'timetable' type element week=week class='btn btn-default' role='button'}} KW: {{week}} {{/link-to}}
    {{/each}}
</div>
<br/>
{{#if notEmpty}}

    <table class="table table-bordered table-condensed" style="vertical-align:bottom;">
        <thead>
        <th>#</th>
        <th>Mo</th>
        <th>Di</th>
        <th>Mi</th>
        <th>Do</th>
        <th>Fr</th>
        </thead>
        <tbody>

        {{#each row in filteredList}}
            <tr>
                {{#each item in row}}
                {{#group}}
                    {{#if item}}
                        <td {{bind-attr class="item.red:warning"}}>
                            {{{item.content}}}
                        </td>
                    {{else}}
                        <td>
                            <br/><br/><br/>
                        </td>
                    {{/if}}
                {{/group}}
                {{/each}}
            </tr>

        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-info">Keine Stunden für KW: {{weeks.selected}} eigetragen.</div>
{{/if}}



