{{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle}}
          {{paper-icon icon="menu" size="lg"}}
        {{/paper-sidenav-toggle}}

        <h2>Stundenplan</h2>

        {{#paper-button action="previousWeek"}}{{paper-icon icon="chevron-left" size="lg"}}{{/paper-button}}
        <h2>Woche: {{currentWeek}}</h2>
        {{#paper-button action="nextWeek"}}{{paper-icon icon="chevron-right" size="lg"}}{{/paper-button}}
      </div>
{{/paper-toolbar}}

{{#if exists}}
{{#paper-content classNames="md-whiteframe-z1"}}


    <table class="bordered centered" style="vertical-align:bottom;">
        <thead>
          <tr>
            <th width="50px">#</th>
            <th>Mo</th>
            <th>Di</th>
            <th>Mi</th>
            <th>Do</th>
            <th>Fr</th>
          </tr>
        </thead>
        <tbody>

        {{#each row in filteredList}}
            <tr>
                {{#each item in row}}
                    {{#if item}}
                        <td {{bind-attr class=item.code}}>
                            {{#if item.isHour}}
                                {{item.startTime.hour}}:{{item.startTime.minutes}}
                            {{else}}
                                {{#each teacher in item.teachers}}
                                  {{teacher.name}}<br>
                                {{/each}}
                                {{#each subject in item.subjects}}
                                  {{subject.name}}<br>
                                {{/each}}
                                {{#each class in item.classes}}
                                  {{class.name}}<br>
                                {{/each}}
                                {{#each room in item.rooms}}
                                  {{room.name}}<br>
                                {{/each}}
                            {{/if}}
                        </td>
                    {{else}}
                        <td>
                            <br/><br/><br/>
                        </td>
                    {{/if}}
                {{/each}}
            </tr>

        {{/each}}
        </tbody>
    </table>
{{/paper-content}}

{{else}}
  {{#paper-card}}
    {{#paper-card-content}}
    <h3>Kein Unterricht diese Woche</h3>
    {{/paper-card-content}}
  {{/paper-card}}
{{/if}}
